<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HACKTIV8 Bank</title>
</head>
<body>
  <h1 style="text-align: center;"><a href="/customers">ENTER</a></h1>
</body>
</html>